<!DOCTYPE html>
<html lang="en">
<head>
	<%= require('html-loader!./layout/head-common.html') %>
	<title><%= htmlWebpackPlugin.options.title%> - MMall电商平台</title>
</head>

<body>
	<%= require('html-loader!./layout/nav.html')  %>
	<%= require('html-loader!./layout/header.html') %>
	<div class="crumb">
		<div class="w">
			<div class="crumb-con">
				<a href="./index.html" class="link">MMall</a>
				<span>></span>
				<span class="text-link"><%= htmlWebpackPlugin.options.title%></span>
			</div>
		</div>
	</div>
	<div class="page-wrap w">
		<div class="panel">
			<div class="panel-title"><%= htmlWebpackPlugin.options.title%></div>
			<div class="panel-body">
				<div class="about-con">
					<p class="text">一个提供数码通讯、手机、电脑、家居百货、服装服饰、母婴、图书、食品等数万种优质商品，最优质、最便捷的网上购物平台。</p>
				</div>					
			</div>
		</div>		
	</div>
	
	
	
	<%= require('html-loader!./layout/footer.html') %>
</body>
</html>